## Xcode / XcodeGen
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.build/
*.xcuserstate

## macOS
.DS_Store

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
